<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img class="img-responsive" src="/header.jpg" alt="">
		</div>
		<div class="col-md-6">
			<p class="serif">
				“Thoughts are rarely recorded. In recording my own and sharing them,  perhaps  someone can be enlightened,  and not necessarily because my thoughts are profound but maybe just because they also had a similar thought before in their life and dismissed it thinking less of the thought.  It is all just reinforcement of individuality through relating,  even though I am just one person, getting another to feel a bit more free in their own skin and their own methods is a victory.”
			</p>
		</div>
		<hr>
		<div class="col-md-6">
			<p>
				LiferLife is a blog that follows regular Life events, relative to the past and present views and experiences of a Zim-kid named Tadiwa Mugwenhi. It is an account of life on as many levels as Tadiwa can take into consideration from the past catching up to the present. It is filled with relatable stories. The mother topic that will be found mostly on this blog speaks personally, indirectly, on the journey of relocation and the  racial and ethnic integration challenges that come with it and the battles of achieving and maintaining sanity.
				The need of creating such a blog can be traced back to 2009, my first year of schooling in Cape Town, South Africa. It was all a revelation after coming from a country with only three official languages, one of them with a multitude of dialects and a structure that geographically only allowed you to speak one or two of the three. If you did not live in particular provinces in Zimbabwe, the chances of you speaking the widely spoken Shona, which you would hear in most of the provinces, would be close to non-existent. You would speak Ndebele instead, which was not as wide[…]
			</p>

			<p>
				The setup in Zimbabwe encouraged uniformity and there was no problem because that is all that I knew. It all went south when I had to relocate to South Africa. For me it was the opposite of what I had known for the first 12 years of my life and there was no way that this was going to be easy. I know how it all changed me; this blog is meant to engage others faced with a similar situation or not, any certified Lifer looking only to Life in this world can engage the media on this platform. After going through life for two decades I learnt that people are constantly going through similar transitions and that changed my perception of this Life topic, I realised that I was looking at the proximity of this issue all wrong. By giving my account of the story that I have been, and still am, part of, I hope to make it less scary for someone else.
			</p>
		</div>
	</div>
</div>
