<h4>Leave a Comment:</h4>
<%= form_for([@post, @post.comments.build]) do |f| %>
<form role="form">
	<div class="form-group">
		<!-- <textarea class="form-control" rows="3"></textarea> -->
		<%= f.text_area :comment, class:"form-control" %>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<% end %>