<footer class="footer-distributed">
	<div class="footer-left">
		<div class="footer-icons">

			<div class="col-md-12">
			<h3><%= link_to root_path do %>
              <img class="small-logo" src="/logo.png" alt="" >
            <% end %></h3>
				<ul class="social-network social-circle">
					<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
					<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
				</ul>
				<p class="footer-company-name">Tadiwa &copy; 2017</p>
			</div>
		</div>
	</div>
	<div class="footer-right">
		<p>Contact Us</p>
		<form action="#" method="post">
			<input type="text" name="email" placeholder="Email" />
			<textarea name="message" placeholder="Message"></textarea>
			<button>Send</button>
		</form>
	</div>
</footer>