<footer class="footer-distributed">
	<div class="footer-left">
		<div class="footer-icons">

			<div class="col-md-12">
			<h3><%= link_to root_path do %>
              <img class="small-logo" src="/logo.png" alt="" >
            <% end %></h3>
				<ul class="social-network social-circle">
					<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
					<li><a href="https://www.facebook.com/tendai.muguz" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://twitter.com/Tad_07Mugwenhi?lang=en&lang=en" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="https://www.linkedin.com/in/tadiwa-mugwenhi-a63288104/" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
					<li><p class="footer-company-name">LiferLife &copy; 2017</p></li>
				</ul>
			</div>
			<div class="proxima">
		  <p>Designed & Maintained by Proxima Programming</p>
		</div>
		</div>
	</div>
	<div class="footer-right">
		<p>Contact Us</p>
		<form action="#" method="post">
			<input type="text" name="email" placeholder="Email" />
			<textarea name="message" placeholder="Message"></textarea>
			<button>Send</button>
		</form>
	</div>
</footer>