

<% Category.all.each do |category| %>
<ul class="list-unstyled">
                                <li><%= link_to category.name, posts_path(id: category.id), class:"list-group-item" %></li>
                            </ul>
                            <% end %>