/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";


.img-fluid {
	width: 54%;
    height: 16%;
}
header {
	background-color: red;
}


.container-fluid .row{
  width: 100%;
  background-image: url( image_path('logo.jpg'));
}
/*.container .jumbotron{*/
	/*background-image: url("/assets/logo.jpg");*/
	/*background-size: cover;*/
	/*background-repeat: none;*/
	/*background-color: red;*/

	/*color: red;*/


/*.container {
	background-color: red;
}*/