<div class="row">
	<% @categories.each do |category| %>
	<div class="col-sm-4 col-md-4">
		<span class="post-title"><b><h1><%= link_to category.name, category %></h1></b><br /></span>
	</div>
	<% end %>
</div>